#Byte-compiled files
__pycache__/
.pyc
.pyo

#Flask instacnce folder (containes runtime data like SQLite DBs)
instance/
site.db

#Enviroment files
.env
.venv/
venv/
.excelenv/
excelenv 
.ormenv/
ormenv
.cookenv/
cookenv

#excel ignore
~$*

# Ignore alembic migration history
alembic/versions/*

# Ignore alembic cache files
alembic/__pycache__/

# Ignore SQLite database file (if using SQLite)
*.sqlite3
*.db

# Ignore virtual environment (if applicable)
env/
venv/
